.card-arrow {

    .card-arrow--content-icon {
        z-index: 2;
        position: relative;
    }

    svg {
        transition: transform .3s ease-in-out;
    }

    img {
        transition: filter .2s ease-in-out;
    }

    &:hover {
        svg {
            transform: rotate(-90deg);
        }

        figure.wp-block-image {
            img {
                filter: brightness(50%);
            }
        }

        .wp-block-cover span.wp-block-cover__background {
            opacity: 0.5;
        }
    }

}

.card-team.wp-block-cover {

    .wp-block-cover__inner-container {
        width: 100% !important;
        height: 100% !important;
        display: grid;
        align-content: space-between;
    }
}


/* Puedes poner esto en tu style.css */
.tab-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, display .3s ease allow-discrete;
    z-index: 1;
    pointer-events: auto;
    display: grid;
}
.tab-inactive {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 0;
    display: none !important;
    pointer-events: none;
}

.tab-active, .tab-inactive {
    @starting-style {
        & {
            opacity: 0;
            visibility: hidden;
            display: none;
            pointer-events: none;
        }
    }
}
