@use '../abstracts/mixins' as *;

#hero {
    position: relative;
    //height: 880px;

    @media ($below-mobile) {
        padding: 8rem 1.5rem 2rem 1.5rem !important;
    }
}


#hero-video {
    position: relative;

    .wp-block-group:not(.toggle-sound-video, .toggle-play-video) {

        .toggle-sound-video, .toggle-play-video {

            border-radius: var(--wp--custom--border-radius--md, 8px);
            background: rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(10px);
            padding: var(--wp--preset--spacing--20, 24px);

            &:hover {
                cursor: pointer;
            }

            p, a {
                border-radius: var(--wp--custom--border-radius--md, 8px);
                background: rgba(167, 163, 163, 0.20);
                padding: var(--wp--preset--spacing--10, 16px) var(--wp--preset--spacing--20, 24px);
            }

            a.vp-a {
                display: flex;
                align-items: center;

                &::before {
                    content: url(./assets/icons/icon-play.svg);
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    margin-right: 0.5rem;
                }
                
            }

        }

    }
    
}
