a {
	text-decoration: none;
    transition: 0.5s ease-in-out;
}

[class*="has-heading-"][class*="-font-size"] {
    line-height: var(--wp--custom--line-height--heading);
    font-weight: 200;

    &> strong,
    &> b {
        font-weight: 600;
    }
}

.has-display-font-size {
    font-weight: 200;
    line-height: var(--wp--custom--line-height--tiny);
}

.has-subtitle-font-size {
    font-weight: 200;
    &> strong,
    &> b {
        font-weight: 600;
    }
}


p.is-style-title-has-image {
    display: inline-flex;
    gap: var(--wp--preset--spacing--10);
    align-items: center;
}
