<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:group {"style":{"dimensions":{"minHeight":"100vh"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center"}} -->
<div class="wp-block-group" style="min-height:100vh"><!-- wp:heading {"level":1,"fontSize":"body","fontFamily":"font-main"} -->
<h1 class="wp-block-heading has-font-main-font-family has-body-font-size"><strong>EROR 404</strong></h1>
<!-- /wp:heading -->

<!-- wp:heading {"fontSize":"display"} -->
<h2 class="wp-block-heading has-display-font-size">Ups! Página no encontrada</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"subtitle"} -->
<p class="has-subtitle-font-size">No hemos encontrado lo que buscas.<br>Por favor prueba a hacer nueva búsqueda o pincha para volver a la homepage.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link wp-element-button" href="https://coontigos.com/">Volver a la home</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"mt-0"} /-->